<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alipay.android.app.sdk"
    android:versionCode="1"
    android:versionName="1.0" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:theme">
    <!--    <activity
            android:name="com.alipay.android.app.sdk.WapPayActivity"
            android:screenOrientation="portrait" >
        </activity>-->
    </application>

</manifest>