<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jikexueyuan.usingtoolbar">

    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
<activity android:name=".MainActivity" android:label="UsingToolbar">
    <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
    </intent-filter>
</activity>
<activity android:name=".OtherActivity" android:label="OtherActivity"
    android:parentActivityName=".MainActivity">
    <!--上下句话为设置该activity的父级activity-->
    <meta-data android:name="android.support.PARENT_ACTIVITY"
        android:value=".MainActivity"/>
</activity>

    </application>

</manifest>
